<section class="news text-center mt-3">
    <div class="container">
        <h1>Latest News Live</h1>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4 col-sm-12 my-2" *ngFor="let egnew of news">
                <div class="card">
                   <img [src]="egnew.urlToImage" alt="" class="card-img-top" style="width:25rem"/>
                    <div class="card-body">
                        <h5 class="card-title">{{egnew.title}}</h5>
                            <p class="card-text">{{egnew.description}}</p>
                                <hr>
                                <a [href]="egnew.urlToImage" 
                                class="btn btn-outline-info" target="_blank">Show More</a>
                                <p class="card-text">Published At {{egnew.publishedAt}}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>