<style>
    .body{
    background-color: rgb(0, 181, 241) ;
    position: fixed;
    }
  </style>

h2 {
    color: rgb(78, 78, 78);
    position: fixed;
}

img {
    border: 1.5px solid rgb(250, 58, 0);
  }

     